html{
	position: relative;
	min-height: 100%;
}

body{
	background: url(https://www.dropbox.com/s/ejy85licumfqenu/site-background.jpg?raw=1);
	/*margin-bottom: 60px;*/
	padding-top: 80px;
    font-weight: 300;
}
h3{
    font-weight: 400;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color:#ccc;
    text-decoration: none;
}
.body-wrap{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #b9b8b863;
    z-index: -1;
}

.header{
    height: 550px;
    background-image: url(https://www.dropbox.com/s/5oqfksn48saohea/WhatsApp%20Image%202018-05-23%20at%207.11.45%20PM.jpeg?raw=1);
    background-position-y: -158px;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-primary{
	background-color: #b9b8b863!important;
}
.nav-scrolled{
    background-color: #fff !important;
}
.navbar-brand{
	font-size: 2.25rem;
    font-family:AR DELANEY;;
}
.navbar-nav{
    margin-bottom: -14px;
    font-weight: 500;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.68);
}
.nav-item{
    position: relative;
    margin-left: 6px;
}
.bottom,.top,.left,.right{
    position: absolute;
    border-radius: 100%;
    transition: all 400ms;
}
.bottom{
    left: 0;
    width: 0;
    bottom: 0;
    border-bottom: 2px solid #868686;
}
.top{
    top: 0;
    width: 0;
    right: 0;
    border-top: 2px solid #868686;
}
.left{
    top: 0;
    left: 0;
    height: 0;
    border-left: 2px solid #868686;
}
.right{
    bottom: 0;
    right: 0;
    height: 0;
    border-right: 2px solid #868686;
}
.nav-item:hover>.bottom,.nav-item:hover>.top{
    width: 100%;
}
.nav-item:hover>.left,.nav-item:hover>.right{
    height: 100%;
}
.nav-item.active:hover>.bottom,.nav-item.active:hover>.top,.nav-item.active:hover>.left,.nav-item.active:hover>.right{
    display: none;
}
.last{
    margin-bottom: 100px;
}
.link-nb {
    background-color: red;
    color: white;
    position: relative;
    left: 45%;
    right: 45%;
}
.link-nb:hover {
    color: #ceddec;
     text-decoration: none; 
}
.navbar-nav>.active{
    /*background-color: #f79f3d;*/
    border: 2px solid #868686;
}
dl{
    margin-left: 2rem;
}
dl>dd{
    margin-left: 3rem;
    font-size: 110%;
    line-height: 1.54rem;
    font-weight: 100;
}
dl>dt{
    font-weight: 200;
    font-size: 140%;
}
.footer-ul{
    list-style: none;
    padding: 0;
}


footer{
	background-color: #00000085;
    color: white;
    padding-top: 1.5rem;
}

.footer-head{
    font-size: 1.4rem;
}
.footer-p{
    font-size:0.78rem;
    font-weight: 300; 
    text-align:justify;
    line-height: 1.2rem;
    margin-bottom: 0; 
}

.footer-social{
    display: inline-block;
    padding: 1rem 1.8rem;
    transition: all linear 200ms;
    position: relative;
}
.footer-social>a{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.footer-social>i{
    font-size: 2rem;
}
.sub-footer{
    width: 100%;
    padding: 1rem;
}
.footer-social.fb:hover{
    background-color: #375eb1;
}
.footer-social.tw:hover{
    background-color: #59bfc7;
}
.footer-social.ig:hover{
    background-color: #af16ac;
}
.footer-social.gp:hover{
    background-color: #bb3e3e;
}